Data Engineering Capstone Project

# Datasets Dictionnary

### I94 Immigration Data
* df_immigration

### Global Land Temperature Data
* df_temperature

### Airports Code Data
* df_aiport_code

### Global Airports Data
* df_global_airports

### Iso Country Data
* df_iso_country

### US cities Demographics
* df_demograph

### World Development Indicators Data
* df_indicator_dev

### Education statistics Data
* df_educ_data

### I94 Description Labels  Description
* i94_mode
* i94_ctry
* i94_addr
* i94_visa
* i94_port

## I94 Immigration Data

* immigration_data_sample.csv
* There are 1000 rows and 28 columns in *immigration_data_sample.csv*.
* df_immigration

Column Name | Description | Example | Type
-|-|-|-|
**Unnamed: 0**| Index|2027561|Int64
**cicid**|     ID uniq per record in the dataset | 4.08e+06 | Float64
**i94yr**|     4 digit year  | 2016.0 | Float64
**i94mon**|    Numeric month |  4.0 | Float64      
**i94cit**|     3 digit code of source city for immigration (Born country) | 209.0 | Float64
**i94res**|    3 digit code of source country for immigration|209.0|Float64
**i94port**|   Port addmitted through | HHW | Object
**arrdate**|   Arrival date in the USA | 20566.0 | Float64
**i94mode**|   Mode of transportation (1 = Air; 2 = Sea; 3 = Land; 9 = Not reported) | 1.0 | Float
**i94addr**|   State of arrival | HI | Object
**depdate**|Departure date|20573.0|Float64
**i94bir**|    Age in years | 61.0 | Float
**i94visa**|   Visa Code - 1 = Business / 2 = Pleasure / 3 = Student |2.0 | Float
**count**|Used for summary statistics|1.0|Float64
**dtadfile**|  Date Field in I94 files |20160422| int64
**vispost**|Department of State where where Visa was issued|MTR|Object
**occup**|Occupation that will be performed in U.S.|STU|Object
**entdepa**|Arrival Flag - admitted or paroled into the U.S.|G|Object
**entdepd**|Departure Flag - Departed, lost I-94 or is deceased|O|Object
**entdepu**|Update Flag - Either apprehended, overstayed, adjusted to perm residence|NaN|Float
**matflag**|Match flag - Match of arrival and departure records|M|Object
**biryear**|4 digit year of birth|1955.0|Object
**dtaddto**|Date to which admitted to U.S. (allowed to stay until)|07202016|Object
**gender**|Gender|    Gender|M| object
**insnum**|INS number|3882.0|Float
**airline**|Airline used to arrive in U.S.|MU|Object
**admnum**|    Admission number, should be unique and not nullable |5.66e+10| float
**fltno**|Flight number of Airline used to arrive in U.S.|00763|Object
**visatype**|  Class of admission legally admitting the non-immigrant to temporarily stay in U.S.|WT|object

## Global Land Temperature Data

* GlobalLandTemperaturesByCity.csv
* There are 8599212 rows and 7 columns in  *GlobalLandTemperaturesByCity.csv*. 
* df_temperature

Column Name | Description | Example | Type
-|-|-|-|
**dt**|Date format YYYY-MM-DD| 1743-11-01| Object
**AverageTemperature**|Average Temperature for the city to th date dt|6.07|Float64
**AverageTemperatureUncertainty**|Average temperature uncertaintly for the day|1.737|Float
**City**| City name| Ã…rhus| Object
**Country**| Country name | Denmark | Object
**Latitude**|Latitude|57.05N 	|Object
**Longitude**|Longitude|10.33E|Object

## Airports Code Data

* airport-codes_csv.csv
* There are 55075 rows and 12 columns in  *airport-codes_csv.csv*.
* df_airport_code

Column Name | Description | Example | Type
-|-|-|-|
**ident**| Unique identifier Airport code| 00AK| Object 
**type**| Type of airport | small_airport |Object
**name**| Name of the airport | Lowell Field | Object
**elevation_ft**|Elevation of airport|4.0|Float64
**continent**| Continent |OC | Object
**iso_country**| ISO code of airport country |US| Object
**iso_region**| ISO code of the region airport | US-KS|Object
**municipality**| City name where the airport is located | Anchor Point|Object
**gps_code**|GPS Code|K03N|Object
**iata_code**| IATA code of the airport| UTK| Object
**local_code**|Local Code|03N 	|Object
**coordinates**|GPS coordinates|169.852005, 11.222|Object

## Global Airports Data

* airports-extended.csv
* There are 10668 rows and 13 columns in  *airports-extended.csv*. 
* df_global_airports

Column Name | Description | Example | Type
-|-|-|-|
**airport ID**|Unique OpenFlights identifier for this airport|1|Int64
**name**|Name of airport|Nadzab Airport|Object
**city**|Main city served by airport|Nadzab|Object
**country**|Country or territory where airport is located|Papua New Guinea|Object
**iata**|3-letter IATA code|LAE|Object
**icao**|4-letter ICAO code|AYGA 	|Object
**latitude**| Decimal degrees, usually to six significant digits. Negative is South, positive is North|-6.08169 	|Float64
**longitude**|Decimal degrees, usually to six significant digits. Negative is West, positive is East|145.391998 	|Float
**altitude**|Altitude In feet|5282|Int64
**timezone**| Hours offset from UTC|10|Object
**dst**|Daylight savings time. One of E (Europe), A (US/Canada), S (South America), O (Australia), Z (New Zealand), N (None) or U (Unknown)|U|Object
**tz_timezone**|Timezone in "tz" (Olson) format|Pacific/Port_Moresby|Object
**type**| Type of the airport|airport 	|Object
**data_source**| Source of this data|OurAirports|Object

## Iso Country Data

* wikipedia-iso-country-codes.csv
* There are 246 rows and 4 columns in  *wikipedia-iso-country-codes.csv*.
* df_iso_country

Column Name | Description | Example | Type
-|-|-|-|
**Id** |Identifier|1|Int64
**Country_name**|Country Name in English|Wallis and Futuna|Object
**Alpha2_code**|code 2 letter code for the country|WF|Object
**Alpha3_code**|code 3 letter code for the country|WLF|Object
**Numeric_code**|ISO 3166-2 code|876|Int64
**ISO 3166-2**|code ISO 31166|ISO 3166-2:ZW|Object

## US cities Demographics
* us-cities-demographics.csv
* There are 2891 rows and 12 columns in  *us-cities-demographics.csv*. 
* df_demograph

Column Name | Description | Example | Type
-|-|-|-|
**City**|Name of the city|Silver Spring|Object
**State**|US state of the city|Maryland|Object
**Median Age**|The median of the age of the population|33.8|Float64
**Male Population**|Number of the male population|40601.0|Float64
**Female Population**|Number of the female population|41862.0|Float64
**Total Population**|Number of the total population|82463 	|Float64
**Number of Veterans**|Number of veterans living in the city|1562.0|Float64
**Foreign-born**|Number of residents of the city that were not born in the city|30908.0|Float64
**Average Household Size**|Average size of the houses in the city|2.60|Float64
**State Code**|Code of the state of the city|MD|Object|
**Race**|Race class|Hispanic or Latino|Object
**Count**|Number of individual of each race|25924|Int64

## World Development Indicators Data
* WDIData.csv
* There are 422136 rows and 64 columns in  *WDIData.csv*.
* df_indicator_dev

Column Name | Description | Example | Type
-|-|-|-|
**Country Name**|Name of the country|Arab World|Object|
**Country Code**|3 letters code of country|ARB|Object
**Indicator Name**|indicators of economic development|2005 PPP conversion factor, GDP (LCU per inter...|Object
**Indicator Code**|letters indicator code|PA.NUS.PPP.05|Object
**1960 ...2018**|one column per year since 1960|2018|Float64

## Education statistics Data
* Not Used
* education-statistics/EdStatsData.csv
* There are 886930 rows and 70 columns in  *education-statistics/EdStatsData.csv*. 
* df_Educ_data

Column Name | Description | Example | Type
-|-|-|-|
**Country Name**|Name of the country|Arab World|Object|
**Country Code**|3 letters code of country|ARB|Object
**Indicator Name**|indicators of education development|Adjusted net enrolment rate, lower secondary, ...|Object
**Indicator Code**|letters indicator code|UIS.NERA.2|Object
**1970 ...2100**|one column per year since 1970|2018|Float64

## i94addr Data

* i94addr.csv
* There are 55 rows and 2 columns in  *i94addr.csv*. 
* i94_state

Column Name | Description | Example 
-|-|-|
**State_id**|Code US State | Al
**State**|Name US State|Alabama

## i94city_i94res Data

* i94cit_i94res.csv
* 
* i94_city

Column Name | Description | Example 
-|-|-|
**Country_id**|Code country | 509
**Country**|Name country|BERMUDA

## i94mode Data

* i94mode.csv
* There are 4 rows and 2 columns in  *i94mode.csv*
* i94_mode

Column Name | Description | Example 
-|-|-|
**Mode_id**|Code mode arrival US | 2
**Mode**|Name mode|Sea

## i94port Data

* i94port.csv
* There are 583 rows and 3 columns in  *i94port.csv*.
* i94_port

Column Name | Description | Example 
-|-|-|
**Port_id**|Code port | Nbo
**Port_city**|Name cty of the aiport|Nairobi
**State_id**|State/country code code|Kenya

## i94visa Data

* i94visa.csv
* There are 3 rows and 2 columns in  *i94visa.csv*.
* i94_mode

Column Name | Description | Example 
-|-|-|
**Code_visa**|Code to identifier Visa | 1
**Visa**|Visa ingress|Business